body {
  background: linear-gradient(#96dcec, #bb473a);
  font-family: "Knewave", serif;
  margin: 5px 0px 0px 0px;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  color: #31312c;
}

main,
header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
main {
  margin: 20px 60px;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 2px dashed salmon;
  position: sticky;
  top: 0px;
  background-color: #96dcec;
}
nav {
  width: 960px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  display: flex;
  padding: 10px 0px;
  align-items: flex-end;
}

nav > img {
  height: 70px;
  width: 200px;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 00px 10px;
}

nav > a {
  width: 150px;
  color: #31312c;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0px 30px 5px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  border-bottom: 2px dashed transparent;
}
nav > a:hover {
  color: #f7836f;
  transition: 1000ms;
}

nav > a:not(:first-of-type):hover {
  border-bottom: 2px dashed salmon;
  transition: 1000ms;
}

nav > a:not(:first-of-type):hover {
  border-bottom: 2px dashed #31312c;
  transition: 1000ms;
}

main:nth-child(*) {
  margin: 20px;
}

td,
th {
  text-transform: capitalize;
}

#tableOfShops > table > tr:nth-child(1) > td {
  visibility: hidden;
}

td,
th {
  min-width: 30px;
  padding: 10px;
  font-size: 1.5rem;
}

tr {
  background-color: rgb(150, 255, 131);
}

th {
  background-color: blueviolet;
  color: white;
}

#formandtable {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 100px;
}

form {
  margin: 20px 20px 50px 20px;
}
fieldset {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1rem;
  max-width: 200px;
}

fieldset input,
button {
  padding: 10px 10px;
  margin-bottom: 10px;
}

legend {
  margin: 10px 0px;
}
button {
  background-color: #96ff83;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 15px;
  margin: 10px 0px;
  font-family: "Knewave", serif;
}
button:hover {
  background-color: #f7836f;
  transition: 300ms;
}

input {
  font-family: "Knewave", serif;
}

.totalrow:not(:last-of-type) {
  display: none;
}

.totalrow:last-of-type {
  background-color: blueviolet;
  color: white;
}

/* td:last-child,
td:first-child,
tr:last-child {
  background-color: #8d2cde;
  color: white;
  font-weight: bold;
} */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: 200px auto;
  vertical-align: middle;
  color: black;
  font-size: 3rem;
}
header > div {
  vertical-align: middle;
}

#logo {
  width: 200px;
  margin: 0px 20px;
}

#hero {
  width: 100%;
  margin-top: 50px;
}

h2 {
  color: black;
  -webkit-text-fill-color: #f7836f;
  -webkit-text-stroke: 1.5px;
  font-size: 3rem;
  margin: 50px 0px 40px 0px;
  align-self: center;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  flex: 0 0 21%;
  text-align: center;
}

.product > img,
.shop > img {
  max-width: 200px;
  border-radius: 20px;
  margin: 0px 0px 10px 0px;
}

.product:nth-of-type(odd) > img,
.shop:nth-of-type(odd) > img {
  border: 5px solid #96dcec;
}

.product:nth-of-type(even) > img,
.shop:nth-of-type(even) > img {
  border: 5px solid salmon;
}

.product > img:hover,
.shop > img:hover {
  border: 5px solid #31312c;
  transition: 1000ms;
}

.shop > img {
  margin-right: 20px;
}

.shops {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.shop {
  display: flex;
  flex-flow: row wrap;
  margin: 0px 20px 20px 0px;
  max-width: 46%;
  flex-basis: 50%;
}

.shoptext {
  display: flex;
  flex-flow: column wrap;
}

.shopttext > p {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  background-color: #f7836f;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-evenly;
}

footer ul {
  font-size: 16px;
  font-weight: lighter;
}

#form {
  margin-bottom: 100px;
}
