body {
  background: linear-gradient(#96dcec, #bb473a);
  font-family: "Knewave", serif;
  margin: 20px 60px;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  color: #262622;
}

main,
header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

main:nth-child(*) {
  margin: 20px;
}

td,
th {
  border: 5px solid blueviolet;
  text-transform: capitalize;
}

#tableOfShops > table > tr:nth-child(1) > td {
  visibility: hidden;
}

td,
th {
  min-width: 30px;
  padding: 10px;
  font-size: 1.5rem;
}

tr:nth-of-type(odd) {
  background-color: salmon;
}
tr:nth-of-type(even) {
  background-color: rgb(150, 255, 131);
}

th {
  background-color: blueviolet;
  color: white;
}

td:last-child,
td:first-child,
tr:last-child {
  background-color: #8d2cde;
  color: white;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: 200px auto;
  vertical-align: middle;
  color: black;
  -webkit-text-fill-color: #f7836f;
  -webkit-text-stroke: 1px;
  font-size: 3rem;
}
header > div {
  vertical-align: middle;
}

#logo {
  width: 200px;
  margin: 0px 20px;
}

#hero {
  width: 100%;
}

h2 {
  color: black;
  -webkit-text-fill-color: #f7836f;
  -webkit-text-stroke: 0.8px;
  font-size: 2rem;
  margin: 50px 0px 40px 0px;
  align-self: center;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  flex: 0 0 21%;
}

.product img,
.shop img {
  max-width: 200px;

  border-radius: 20px;
  border: 5px solid #96dcec;
  margin: 0px 25px 0px 0px;
}

.shops {
  display: flex;
  flex-flow: column wrap;
  max-height: 700px;
}

.shop {
  display: flex;
  flex-flow: row nowrap;
  margin: 0px 20px 20px 0px;
}
